* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #020617;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    color: #38bdf8;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#toggle {
    display: none;
    color: white;
    font-size: 22px;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
.section {
    padding: 80px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    padding: 10px 20px;
    background: #020617;
    border-radius: 5px;
}

/* Projects */
.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #020617;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #38bdf8;
    text-decoration: none;
}

/* Contact */
.contact-links a {
    margin: 0 15px;
    font-size: 30px;
    color: #38bdf8;
}

/* Footer */
footer {
    background: #020617;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #020617;
        position: absolute;
        top: 60px;
        right: 20px;
    }

    nav ul.show {
        display: flex;
    }

    #toggle {
        display: block;
    }
}
